extends layout

include mixins/card.pug

block content
  // Variables
  - const slogan = "WE'RE KEEPSAKE, A DIGITAL & BRANDING AGENCY"
  - const description = "Specializing in web design..."

  // === DATA ===
  - var portfolio = [
  -   { src: 'img/pictures/1.jpeg', main: false },
  -   { src: 'img/pictures/2.jpeg', main: false },
  -   { src: 'img/pictures/3.jpeg', main: false },
  -   { src: 'img/pictures/5.jpeg', main: false },
  -   { src: 'img/pictures/8.jpeg', main: true },
  -   { src: 'img/pictures/6.jpeg', main: false },
  -   { src: 'img/pictures/7.jpeg', main: false },
  -   { src: 'img/pictures/4.jpeg', main: false },
  -   { src: 'img/pictures/9.jpeg', main: false }
  - ]

  - var services = [
  -   { icon: 'img/icons/web-design.png', title: 'WEB DESIGN', text: 'We create beautiful websites.' },
  -   { icon: 'img/icons/tv.png', title: 'MOTION VIDEO', text: 'Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur.' },
  -   { icon: 'img/icons/printer.png', title: 'PRINT DESIGN', text: 'Maecenas sed diam eget risus varius blandit amet non magna. Nullam id dolor id nibh ultricies vehiculaelit praesent commodo.' },
  -   { icon: 'img/icons/heart.png', title: 'ILLUSTRATION', text: 'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus.' }
  - ]

  - var journal = [
  -   { img: 'img/pictures/10.jpg', date: 'OCT 13, 2014 / IDENTITY', name: 'SOLLICITUDIN TORTOR INCEPTOS', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.' },
  -   { img: 'img/pictures/11.jpg', date: 'OCT 23, 2014 / BRANDING', name: 'AMET INCEPTOS FRINGILLA FUSCE', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.' },
  -   { img: 'img/pictures/12.jpeg', date: 'SEP 27, 2014 / BRANDING', name: 'ORNARE CURSUS BIBENDUM PURUS', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.' },
  -   { img: 'img/pictures/13.jpeg', date: 'SEP 19, 2014 / IDENTITY', name: 'CURSUS MALESUADA JUSTO', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh.' }
  - ]

  // === BLOCK 1: Slogan ===
  .slogan
    p #{slogan}
    p #{description}

  // === BLOCK 2: Portfolio ===
  .portfolio
    .block-name
      p OUR AWESOME WORKS 
      span.lines --
      .button FILTER PORTFOLIO

    .block-content
      each img in portfolio
        if img.main
          .card.card--main
            img(src=img.src)
            .circle
              .circle-inner
              .plus +
        else
          .card
            img(src=img.src)

  // === BLOCK 3: Contact with us ===
  .contacts
    p WOULD YOU LOVE TO WORK WITH US?
    .button
      img(src="img/icons/mail.png")
      span CONTACT US

  // === BLOCK 4: Services ===
  .services
    .block-name
      p WHAT DO WE DO 
      span.lines --
      p Maecenas sed diam eget risus varius...
    
    .block-content
      each item in services
        +card(item.icon, item.title, item.text)

  // === BLOCK 5: Journal ===
  .journal
    .block-name
      p FROM THE JOURNAL 
      span.lines --

    p Cum sociis natoque penatibus…

    .block-content
      each post in journal
        .card
          img(src=post.img)
          .card-discription
            p.card-discription-date #{post.date}
            p.card-discription-name #{post.name}
            p.card-discription-text #{post.text}